.singleCard {
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d1e5f3;
  border-radius: 20px;
  box-shadow: 1px 2px 21px 4px rgba(0, 0, 0, 0.45);
  align-self: center;
  justify-self: center;
}

.cardTitle {
  margin: 0;
  padding-top: 10px;
  font-size: 3.2vh;
  font-weight: 600;
}

img {
  width: 14vw;
  height: 30vh;
  border-radius: 20px;
}
